
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.vue'
import MobileTabBar from '@/components/common/MobileTabBar.vue'
import ArchivedActivityList from '@/components/page-2659759/ArchivedActivityList.vue'
---

<BaseLayout title="已上架活动列表 - 微光公益" mode="mobile">
  <CommonHeader client:load variant="guest" mode="mobile" />
  
  <main class="flex-1 pb-4">
    <ArchivedActivityList client:idle />
  </main>
  
  <MobileTabBar client:idle />
</BaseLayout>
